html, body {
    background: linear-gradient(to left bottom,
              rgb(0, 196, 220), rgb(132, 163, 234), rgb(211, 163, 232));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main {
    position: relative;
    width: 360px;
    height: 540px;
}

.card {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-position: center;
    cursor: pointer;
    user-select: none;  /* 텍스트 선택 비활성화 */
    touch-action: none; /* 모든 패닝,확대,축소 제스처의 브라우저 처리 비활성화 */
}

.btns {
    display: flex;
    margin-top: 20px;
    font-size: 25px;
}

.btns > div {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    user-select: none;
}

.btns > div:nth-child(1) {
    margin-right: 20px;
}