@charset "UTF-8";
body{
	margin:0;
	padding: 10px;
}

.baik_graph{
	width: 1500px;
	padding:20px;
}
#piechart{
	float:left;
	width:700px;
	height:640px;
}

#chart_div{
	float:left;
	width:700px;
	height:640px;
}
