@charset "UTF-8";

body{
	margin:0;
	padding: 10px;
}
.Hwang_admin_main {
	border: 3px solid #917a5a;
	border-radius: 20px;
	padding:20px;
	width: 1200px;
	height: 100%;
}

.Hwang_admin_main ul{
	
	padding: 0px;
	height: 100%;
}
.t_div{
	list-style: none;
	text-align: center;
	height: 30%;
}
.t_div table{
	width: 100%;
	height: 100%;
}
.t_div table .td1{
	text-align: right;
	margin-right: 10px;
	font-size :30px;
}
.t_div table .td2{
	text-align: left;
	font-size :30px;
}

.t_div table .td2 input{
	border: none;
    border-bottom: ridge;
}

/*work view*/
.b_div{
	height: 70%;
	padding : 30px;
}

.b_div div{
	vertical-align: top;
	border : 2px solid black;
	display: inline-block;
	width: 300px;
	height: 300px;
	margin-left : 60px;
	padding: 5px;
	border-radius: 20px;
}	

h4{
	text-align :center;
}

.t_div input{
   margin-left:15px;
   width: 300px;

}

.b_div input{
   margin-left:15px;
    width : 200px;
}

.b_div ul{
	list-style : none;
}