@charset "UTF-8";

/* Nav */
#kangNavWrap .kangNavInner {
	background-color: rgb(145, 122, 90);
	margin-bottom: 20px;
}

#kangNavWrap .kangNavInner .navbar-brand {
	color: white;
}

#kangNavWrap .kangNavInner .nav-link {
	color: white;
}

#kangNavWrap .kangNavInner .kangBtnLogin {
	color: white;
}

#kangNavWrap .kangNavInner .kangBtnLogin:hover {
	color: black;
}

/* Logo */
#choiLogoWrap {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	object-fit: fill;
	height: 40px;
	margin-top: -15px;
	margin-left: -15px;
}

/* Main */
#kangMainWrap .kangMain {
	min-height: 750px;
}

/* Footer */
#kangFooterWrap .kangFooter {
	margin-top: 20px;
}