@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Do+Hyeon:400');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700');


#mymain_chowrap{
	display:inline-block;
	width : 1100px;
	
}


.mymain_name2, .mymain_point2, .mymain_totalprice2, .mymain_odercount2{
	text-indent: 20px;
	font-family: 'Do Hyeon';
	font-size : 30px;
	display : block;
	line-height:55px;
	color : rgb(56, 48, 36);
}
.mymain_name2{
	color : white;
}
#mymain_text {
	margin-top : 40px;
	margin-left : 150px;	
	font-size: 0;
    letter-spacing: 0;
    word-spacing: 0;
	box-sizing : border-box;
	
}
/* #mymain_name의 컬러는 해당 등급의 동그라미사진의 컬러와 같은 컬러로 변경 */
#mymain_name{
	
	width : 215px;
	height : 110px;
	display : inline-block;
}


#mymain_point{
	background-color : #EEEEEE;
	width : 150px;
	height : 110px;
 	display : inline-block;
}

#mymain_totalprice{
	background-color : #EEEEEE;
	width : 185px;
	height : 110px;
	display : inline-block;
}


#mymain_odercount{
	background-color : #EEEEEE;
	width : 185px;
	height : 110px;
	display : inline-block;
}


#mymain_img {
	margin-top : 100px;
}
#mymain_img_text{
	font-family: 'Nanum Gothic';
	font-weight: bold;
}


