@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family:sans-serif;

}

body {
  background-image:#34495e;
}

#csc{
  color:#c08050;
  font-size:30pt;
  border-top:2px solid #9a7338;
  border-bottom:2px solid #9a7338;
  margin-top: 15px;	
  text-align: center;
}
.joinForm {
  margin-left: 100px;
  width:500px;
  height:400px;
  background-color:#FFFFFF;
  top:30%;
  left:50%;
  border-radius: 15px;
}

.textForm {
  border-bottom: 2px solid #adadad;
  margin: 8px;
  padding: 9px 10px;
}

.textForm label{
  width: 110px;
}

.id {
  width: 200px;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
}

#category {
  width: 200px;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
}

.SERIAL {
  width: 200px;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
}
.price {
  width: 200px;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
}

.orderNumber {
  width: 200px;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
}
.orderDate {
  width: 200px;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
}

.status {
  width: 200px;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
}

.btnZone{
  text-align: center;
}

#btnModify{
  margin: 10px;
  color: white;
  position: relative;
  width: 25%;
  height: 40px;
  background: linear-gradient(125deg,#8D6E63,#FFCC80,#814E342E);
  background-position: left;
  background-size: 200%;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: 0.4s;
}

#btnDelete{
  margin: 10px;
  color: white;
  position: relative;
  width: 25%;
  height: 40px;
  background: linear-gradient(125deg,#8D6E63,#FFCC80,#814E342E);
  background-position: left;
  background-size: 200%;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: 0.4s;
}

#btnSelect{
  margin: 10px;
  color: white;
  position: relative;
  width: 25%;
  height: 40px;
  background: linear-gradient(125deg,#8D6E63,#FFCC80,#814E342E);
  background-position: left;
  background-size: 200%;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: 0.4s;
}
