@charset "UTF-8";

#seolQuitDiv{
	position: absolute;
	width : 1050px;
	height : 500px;
	top : 0px;
	}
#seolQuitHead{
	margin-top : 50px;
	
}
	
#seolQuitCheckbox{
	margin-top : 20px;
	
}


#seolCheck_id_pwd{
	width: 320px;
	height : 200px;
	margin-top: 20px;
	
}
#seolQuitLabel_id{
	width:100px;
	height:30px;
	margin-right: 20px;
}
#seolQuitLabel_pwd{
	width:100px;
	height:30px;
	margin-right: 20px;
}


